body {
  margin: 0;
  font-size: 100%;
}
* {
  box-sizing: border-box;
}
.main-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
  background-color: #1e2025;
  color: #fff;
  /*     background-image: url("https://source.unsplash.com/random");
      background-size: cover;
      background-position: center center; */
  position: relative;
  min-height: 100vh;
  width: 100%;
}

div,
p,
a {
  transition: all 0.4s ease-in-out;
}

.back-img {
  position: absolute;
  /*     background-image: url(https://source.unsplash.com/random); */
  top: 0;
  bottom: 0;
  left: 0;
  /* right: 0; */
  width: 100%;
  background-position: center;
  /*     height: 100%; */
  border-radius: 5px;
  z-index: 1;
  overflow: hidden;
}

.head {
  color: #ffffffcc;
  padding: 0.7em;
  font-size: 1.5em;
  /*     position: absolute; */
  text-align: center;
  top: 20px;
  left: 2%;
  right: 2%;
  border-radius: 3px;
  letter-spacing: 1px;
}

.foot {
  /*   color: #ffffffcc; */
  padding: 0.7em;
  font-size: 0.8em;
  /*     position: absolute; */
  text-align: center;
  bottom: 10px;
  left: 2%;
  right: 2%;
  border-radius: 3px;
  letter-spacing: 1px;
}
.foot a {
  text-decoration: underline;
  color: #fff;
}

.main {
  color: #fff;
  background-color: #0000004f;
  margin: 1em;
  width: 95%;
  max-width: 400px;
  height: 400px;
  max-height: 95%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
  background-position: center center;
  background-size: cover;
}

.top {
  padding: 20px;
  z-index: 2;
}

#quote-icon {
  font-size: 4em;
  z-index: 0;
  opacity: 0.4;
}
#quote {
  padding: 20px;
  text-align: center;
  font-size: 1.8em;
  z-index: 1;
}

#author {
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.share-box {
  display: flex;
}

a {
  background: none;
  border: none;
  text-decoration: none;
}
.bottom .btn {
  margin: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  width: 2em;
  border: 1px dashed rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: #ddd;
}
.bottom .btn:hover {
  background-color: #ffffff30;
  color: #fff;
}
